/**----------------**/
/** helper classes **/
/**----------------**/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

/**-------**/
/** fonts **/
/**-------**/
h1, h2 {
  font-family: 'PT Sans Narrow', sans-serif !important;
  color: #FFFFFF;
}

p, label, a {
  font-family: serif !important;
  font-size: 21px !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
  line-height: 27px !important;
}

p {
    color: #FFFFFF;
}

/**------**/
/** body **/
/**------**/
* {
  margin: 0;
}
html, body {
  height: 100%;
  background: #272727;
}

.wrap {
  background: #ad1e31;
  min-height: 100%;
  margin-bottom: -80px;
  width: 80%;
  max-width: 1800px;
  min-width: 1200px;
  margin: auto;
}

.wrap:after {
  content: "";
  display: block;
}