html
  head
    title Craig Davis Music - #{title}
    meta(charset="utf-8")
    meta(name="keywords", content="Craig Davis Music, Craig Davis Pittsburgh, Pittsburgh Jazz")
    meta(name="description", content="Craig Davis Music")
    meta(http-equiv="cleartype", content="on")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, maximum-scale=1.0")
    link(rel="icon", type="image/x-icon", href="/shared/theme/favicon.ico")
    link(rel="stylesheet", type="text/css", href="/index.min.css?cb=" + Math.floor(Math.random()*89999+10000))
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet', type='text/css')
  body
    .wrap
        #header
            include ../navigation/NavbarView

        block container

    .footer
      include ../footer/FooterView

    script(src="/index.min.js?cb=" + Math.floor(Math.random()*89999+10000))
    script(src="//www.youtube.com/iframe_api")
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73078805-1', 'auto');
      ga('send', 'pageview');
