extends ../shared/theme/LayoutView.jade

block container
  .contact-cover
  
  br

  h1.title Contact/Booking

  .contact-and-booking
    form.pure-form.pure-form-stacked.craig-contact
      fieldset
        .pure-g
          .pure-u-1.pure-u-md-1-2
            label(for='name') Name
            input#name.pure-u-23-24(type='text', name='name', maxlength='40')
          .pure-u-1.pure-u-md-1-2
            label(for='location') Event Location
            input#location.pure-u-23-24(type='text', name='location', maxlength='40')
          .pure-u-1.pure-u-md-1-2
            label(for='phone') Phone
            input#phone.pure-u-23-24(type='text', name='phone', maxlength='20')
          .pure-u-1.pure-u-md-1-2
            label(for='date') Event Date
            input#datepicker.pure-u-23-24(type='text', name='date', maxlength='40')
          .pure-u-1.pure-u-md-1-2
            label(for='type') Event Type
            select#type.pure-input-1._select(type='text', name='type')
              option
              option Celebration
              option Corporate
              option Party
              option Wedding
              option Other
          .pure-u-1.pure-u-md-1
            label(for='additional') Additional Information:
            textarea.pure-input-1._textarea(name='additional', maxlength='250')
          br
          br
          .flash.hide
          br
          .pure-u-1.pure-u-md-1
            button.pure-button.pure-button-primary._submit(type="submit") Submit


