.contact-and-booking {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.title {
  text-align: center;
}

.contact-cover {
  width: 100%;
  height: 339px;
  background-image: url("/contact-and-booking/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contact-and-booking .pure-form {
  width: 90%;
  min-width: 240px;
  background: rgba(245, 245, 245, 0.91);
  margin: auto;
  min-height: 300px;
  padding: 10px;
  font-size: 22px;
}

.contact-and-booking .pure-form > fieldset > div > div > ._submit {
  background: rgba(121, 121, 121, 0.52);
  width: 99.5%;
}

.contact-and-booking > form > fieldset > div > div > ._textarea {
  width: 99.5%;
  resize: vertical;
}

.contact-and-booking #location,
.contact-and-booking #name,
.contact-and-booking #phone,
.contact-and-booking #type,
.contact-and-booking #datepicker {
  width: 99%;
}

.contact-and-booking > form > fieldset > div > .flash {
  width: 50%;
  margin: auto;
  background: white;
  height: auto;
  border-color: #863838;
  border-width: 2px;
  border-style: dashed;
  padding: 8px;
  letter-spacing: 0em;
}

/* total hack... */
.datepickr-wrapper {
  display: block !important;
}