extends ../shared/theme/LayoutView.jade

block container
  .music-cover

  br

  h1.title Music Samples

  br

  .pure-g.video-grid
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Quiet Now
        p.description In this smooth "quiet" number, Craig and band stylishly perform with both emotion and technique.
        br
        div(id="video_0")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Chega de Saudade
        p.description Also known as "No More Blues", "Chega de Saudade" , recorded live in July 2018, is an exciting up-tempo samba by Brazilian pianist Antonio Carlos Jobim. My new jazz quartet is featured, with Cynthia Ortiz on vocals, Anton DeFade on acoustic bass, and James Johnson, III on drums.
        br
        div(id="video_1")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title "What is This Thing Called Love" (solo) Sweetwater Center
        p.description Craig frequently ends his live concerts with an exciting "jazz scat" solo keyboard performance, which incorporates musical elements found in accapella vocal groups such as Manhattan Transfer and Take Six.
        br
        div(id="video_2")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Summertime - Piano Solo
        p.description Recorded live in 2016 at Pallantia Tapas Y Paella Spanish restaurant in Shadyside, "Summertime" is a classic aria composed by George Gershwin in the 1930s. In this sample, Craig creates an incredible amount of emotional intensity over the deep shuffle groove.
        br
        div(id="video_3")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title European Underground - Piano Solo
        p.description This funky jazz track was recorded in January of 2016 (still being mixed, however), and features Craig with Kenny Blake on saxophone and George Perilli on drums. Highlights include an exciting piano solo over the groove as well as an inspiring "jazz scat" keyboard solo towards the end.
        br
        div(id="video_4")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Waltz For Debby with Artie Shaw Orchestra
        p.description Craig toured with Artie Shaw Orchestra from 2010-2013, and was regularly featured on Bill Evans' famous jazz composition "Waltz For Debby". Evans was responsible for codifying the language of modern jazz piano, and was a major influence in Craig's musical development.
        br
        div(id="video_5")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Waltz For Debby with Artie Shaw Orchestra
        p.description Waltz For Debby with Artie Shaw Orchestra (alternate take, solo piano)
        br
        div(id="video_6")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title The Seventh Sea
        p.description This intense up-tempo original composition was recorded live in New York City during Craig's Masters Recital at Manhattan School of Music. Craig received a full scholarship to attend MSM, and received his degree in JazzArts in 2010.
        br
        div(id="video_7")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Question and Answer
        p.description Recorded live in Downtown Pittsburgh at Katz Plaza in 2010, this energetic waltz features legendary drummer Roger Humphries on drums. Roger, who played in the bands of Ray Charles and Horace Silver, is one of Craig's musical mentors; Craig was a member of his jazz quintet "RH Factor" for 5 years.
        br
        div(id="video_8")
    .pure-u-1.pure-u-md-1-2
      .video
        h2.title Ballet and Jazz in Pittsburgh - "Sugar"
        p.description Recorded live at Byham Theater in Downtown Pittsburgh in 2014, this video features Craig Davis Consortium with Bodiography, one of Pittsburgh's talented ballet troupes. Craig's solo on Stanley Turrentine's composition "Sugar" provides a strong rhythmic, bluesy accompaniment for their dance routine.
        br
        div(id="video_9")
