.music-cover {
  width: 100%;
  height: 339px;
  background-image: url("/music-sampler/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  text-align: center;
}

.video-grid {
  width: 1200px;
  margin: auto;
}

.video-grid > div > .video {
  background: #312F30;
  margin: 10px;
  padding: 4px;
  width: 570px;
  height: 535px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.video-grid > div > .video > .title {
  text-align: left;
  padding: 10px;
}

.video-grid > div > .video > .description {
  text-align: left;
  padding: 10px;
  height: 110px;
  line-height: 24px !important;
}

.video-grid > div > .video > iframe {
  padding-left: 13px;
}
