.nav
  .logo(onclick="window.location = '/'")

  ul.links
    li
      a(href="/") Home
    li
      | |
    li
      a(href="/music-sampler") Music
    li
      | |
    li
      a(href="/photos") Photos
    li
      | |
    li
      a(href="/calendar") Calendar
    li
      | |
    li
      a(href="/contact-and-booking") Contact
