.nav {}

.nav .logo {
  background: url(/shared/navigation/logo.svg) no-repeat;
  max-width: 660px;
  height: 238px;
  display: block;
  margin: auto;
  background-size: contain;
}

.nav ul.links {
  list-style-type: none;
  margin-top: 6px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.nav ul.links li {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline;
  font-size: 30px;
  color: white;
}

.nav ul.links li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
  font-size: 32px !important;
}
