.home {}

.home-cover {
  width: 100%;
  height: 339px;
  background-image: url("/home/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.home .text-container {
  margin-top: 40px;
  width: 55%;
  margin-left: 5%;
}

.home .text-container p {
  font-size: 24px;
  line-height: 31px;
  text-align: justify;
  font-family: serif;
}

.home .text-container p a {
  color: #96BFFF;
  font-style: italic;
}

.home .profile-container {
  margin-top: 60px;
  width: 30%;
  margin-right: 5%;
  border-radius: 10px;
}

.home .audio-button {
  position: fixed;
  right: 0;
  top: 0;
  height: 21px;
  width: 100px;
  background: white;
  color: black;
  font-size: 18px;
  text-align: center;
  border-radius: 17px;
  padding: 14px;
  margin-right: 5px;
  margin-top: 5px;
  font-family: arial;
  font-weight: bold;
}