extends ../shared/theme/LayoutView.jade

block container
  .home
    .audio-button

    .home-cover

    .pull-left.text-container
      h1 Craig Davis Music
      br
      p Craig Davis is simply Pittsburgh’s best and most versatile jazz pianist.
      br
      p He has won rave reviews as a soloist, has recorded and toured nationally with top jazz ensembles, and has led jazz groups of his own for more than a decade.
      br
      p
        | Craig was mentored in the bands of Pittsburgh jazz legends <a href="http://rogerhumphries.com/">Roger Humphries</a> and <a href="https://sites.google.com/site/pittsburghmusichistory/pittsburgh-music-story/jazz/modern-era/kenny-blake">Kenny Blake</a>, then spent years as a jazz pianist in New York City. In 2010 Craig earned a Masters Degree in JazzArts from <a href="http://www.msmnyc.edu/Instruction-Faculty/Academic-Departments/Jazz">Manhattan School of Music</a>. That same year, while performing a solo piano medley of Duke Ellington's compositions at <a href="http://www.jazz.org/">Jazz at Lincoln Center</a>, Craig received the ultimate compliment. Famous vocalist <a href="https://tonybennett.com/">Tony Bennett</a>, listening intently in the audience, approached the microphone and shared his heartfelt thoughts: <em>"This is the best jazz pianist I've ever heard."</em>
      br
      p
        | Craig is equally at home with popular music, performing solo and also regularly with Pittsburgh’s best private event/wedding band, <a href="http://www.studioeentertainment.com/gary-racan-and-studio-e-band.html">Gary Racan and Studio E Band.</a> He is on the faculty of <a href="http://www.pointpark.edu/Academics/Schools/COPA">Point Park University</a> and volunteers his time weekly for <a href="https://www.uifpgh.org/">Urban Impact</a>, a non-profit organization on Pittsburgh's North Side which offers arts education for at-risk children.
      br
      p
        | A Pittsburgh native and Shady Side Academy graduate, Craig studied privately in his formative years with Bobby Cardillo and David Budway. He attended the famed <a href="https://www.berklee.edu/">Berklee School of Music</a> in Boston and then earned his BA in jazz studies at the acclaimed music conservatory <a href="https://en.wikipedia.org/wiki/Jacobs_School_of_Music">Indiana University – Bloomington</a>.
      br
      p
        | Throughout his career Craig has performed with many notable Pittsburgh jazz musicians, including Joe Negri, Nathan Davis, Sean Jones, Stanley Turrentine, Larry Coryell, Maureen Budway, and Benny Benack. He has also performed at many prominent Pittsburgh venues, including Manchester Craftsman's Guild, Hillman Center for Performing Arts, Heinz Field, Point State Park, Pittsburgh JazzLive International, Byham Theater, Omni William Penn, and James Street Tavern.

    img.pull-right.profile-container(src="/home/profile.png")
