extends ../shared/theme/LayoutView.jade

block container
  .calendar-cover

  br

  h1.title Calendar

  br

  table.pure-table.pure-table-striped.calendar-table
    thead
      tr
        th Date &amp; Time
        th Group
        th Event/Location
    tbody
      tr
        td Wed, Mar 4th, 6-9 PM
        td Cabaret with vocalist Gary Racan
        td Vallozzis, Greensburg

      tr
        td Wed, Mar 11th, 6-9 PM
        td Cabaret with vocalist Gary Racan
        td Vallozzis, Greensburg

      tr
        td Wed, Mar 18th, 6-9 PM
        td Cabaret with vocalist Gary Racan
        td Vallozzis, Greensburg

      tr
        td Wed, Mar 25th, 6-9 PM
        td Cabaret with vocalist Gary Racan
        td Vallozzis, Greensburg

      tr
        td Wed, Jun 17th, 6:30-8 PM
        td Craig Davis Jazz
        td Botanical Garden at Rodef Shalom Congregation
