.calendar-cover {
  width: 100%;
  height: 339px;
  background-image: url("/calendar/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  text-align: center;
}

.calendar-table {
  background:white;
  margin:auto;
  width:90%;
}

.calendar-table td {
  white-space: nowrap;
}
