.footer, .wrap:after {
  height: 120px;
  clear: both;
  width: 80%;
  max-width: 1800px;
  min-width: 1200px;
  margin: auto;
}

.footer {
  background: #ad1e31;
}

.footer {
  border-top-width: 50px;
  border-top-color: #272727;
  border-top-style: solid;
  margin: auto;
}

.footer .copyright {
  height: 30px;
  width: auto;
  margin-left: 5%;
  margin-top: 50px;
}

.footer .copyright p {
  font-size: 23px;
}

.footer .social-media p {
  margin-top: 15px;
}

.footer .social-media {
  margin-top: 40px;
  margin-right: 4%;
  min-width: 249px;
  max-width: 290px;
  width: auto;
}

.footer .social-media > div > a > img {
  margin-left: 8px;
  margin-top: 6px;
}