.container
  .pull-left.copyright
    p (412) 804-8720 / craigdavisjazz@gmail.com
  .pull-right.social-media
    p.pull-left Craig Davis &copy; #{new Date().getFullYear()}
    .images.pull-right
      a(href="https://www.facebook.com/craig.davis.188")
        img(src="/shared/footer/facebook.png")
      a(href="https://www.youtube.com/user/craigdavisjazz/videos")
        img(src="/shared/footer/youtube.png")
