.photos-cover {
  width: 100%;
  height: 339px;
  background-image: url("/music-sampler/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  text-align: center;
}

.photo-rows .card {
  height: auto;
  margin: auto;
  width: 1080px;
  padding: 20px;
  background: #312F30;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.photo-rows .card img {
  margin: auto;
  display: block;
  text-align: center;
}

.photo-rows .card p {
  text-align: center;
  padding-top: 18px;
  margin-top: 2px;
  font-size: 25px !important;
  color: white;
  font-family: 'PT Sans Narrow',sans-serif !important;
}

