extends ../shared/theme/LayoutView.jade

block container
  .photos-cover

  br

  h1.title Photos

  br

  .photo-rows
    .card
      img(src="/photos/1.jpg")
      p Craig's Jazz Quartet
    .card
      img(src="/photos/2.jpg")
      p Studio E Band 9/11 Tribute Concert at Soldiers and Sailors Memorial Hall (2015)
    .card
      img(src="/photos/3.jpg")
      p July 4th concert, Point State Park (2014)
    .card
      img(src="/photos/4.jpg")
      p Craig Davis Jazz Consortium at New Hazlett Theater (2012)
    .card
      img(src="/photos/5.jpg")
      p Artie Shaw Orchestra performance in New Orleans (2011)
    .card
      img(src="/photos/6.jpg")
      p Backstage at Heinz Hall with Harry Connick, Jr. (2014)
